.header-top {
    padding: 25px 0;
}

.logo h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    font-size: 45px;
    text-align: center;
    font-weight: 300;
}

.logo h3 a {
    color: #000;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu ul li {
    display: inline-block;
}

.mainmenu ul li a {
    display: block;
    text-transform: uppercase;
    padding: 16px 30px;
    color: #fff;
}

.mainmenu {
    background-color: #13c39a;
    border-bottom: 3px solid #039c78;
}

.mainmenu ul li:first-child a i.fa {
    padding-right: 5px;
}

.mainmenu ul li a.active {
    background-color: #039c78;
}